---
layout: default
carousel: true
---
<section class="hero">
    <div class="hero-body">
        <p class="title">
            {{ page.title }}
            {% if page.tags contains "official" %}
                <span class="tag is-danger is-medium">Official</span>
            {% endif %}
        </p>
        {% if page.title-ja %}
            <p class="subtitle">{{ page.title-ja }}</p>
        {% endif %}
    </div>
</section>
{% if page.images.size > 0 %}
<section class="section">
    <div class="carousel" style="overflow: hidden;">
        {% for image in page.images %}
            <div class="item-1">
                <figure class="image is-16by9">
                    <img src="/assets/images/{{ image }}" style="object-fit: contain;">
                </figure>
            </div>
        {% endfor %}
    </div>
</section>
{% endif %}
<div class="level">
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Circle</p>
            <p class="title is-spaced">{{ page.circle }}</p>
            {% if page.circle-ja %}
                <p class="subtitle">{{ page.circle-ja }}</p>
            {% endif %}
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Release Date</p>
            <p class="title">{{ page.date | date_to_string }}</p>
        </div>
    </div>
</div>
<section class="section columns">
    <div class="column">
        <div class="content">
            {{ content }}
        </div>
    </div>
    <div class="column is-one-fifth">
        {% if page.tags %}
            <div class="box">
                <p class="title is-6">Tags</p>
                <div class="subtitle tags">
                    {% for tag in page.tags %}
                        <a href="/games/tag/{{ tag | downcase }}" class="tag is-link">{{ tag | capitalize }}</a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% for link in page.links %}
            <div class="box">
                <p class="title is-6">{{ link.name }}</p>
                <p class="subtitle is-6">
                    <a href="{{ link.url}}">{{ link.label }}</a>
                </p>
            </div>
        {% endfor %}
    </div>
</section>